# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea
gpt_backend/node_modules
gpt_backend/package-lock.json
ts_version/.idea
ts_version/node_modules
ts_version/dist
ts_version/_metadata
ts_version/ts_version.iml
